PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=storix
DB_PASSWORD=storix
DB_NAME=storix

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=storix
MINIO_SECRET_KEY=storix-secret
MINIO_BUCKET=storix

MAX_FILE_SIZE_BYTES=5368709120
MAX_SYNC_DELETE_NODES=1000
MAX_SYNC_COPY_NODES=1000
ORPHAN_GRACE_PERIOD=86400
